<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.saviantconsulting.com%2Fblog%2F10-reasons-why-choose-microsoft-azure.aspx&psig=AOvVaw3H7n5GC6uoO9t_Plps09fk&ust=1717117080788000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNC_jeCVtIYDFQAAAAAdAAAAABAE">
  </body>
</html>
